{% extends "layout.html" %}

{% block content %}
<!-- brief about ProjectpPad section -->
<h1>About Us</h1>
<br>
<hr>
<p>
    ProjectPad is a web app designed for lab project management. It allows users to create and manage project-logs for their experiments in an organized manner. With a focus on efficient workflow, ProjectPad streamlines your lab project management like never before.
</p>
<br>
<!-- brief FAQs about ProjectpPad-->
<h3>FAQs</h3>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Is ProjectPad secure?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Yes, ProjectPad uses industry-standard security measures to protect your data. It encrypts all data transmissions and stores your data in secure servers. Additionally, each user can create an account to login and manage their data securely.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Is ProjectPad easy to use?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Yes, ProjectPad is designed to be user-friendly and intuitive. Its user interface is simple and easy to navigate. You can quickly create and manage notes for your experiments without any technical knowledge or training.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Can I access ProjectPad from anywhere?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Yes, ProjectPad is a web app, which means that you can access it from any device with an internet connection. You can work on your lab projects from your desktop, laptop, tablet, or smartphone, regardless of your location.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                How can I search for specific notes or projects in ProjectPad?
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">To search for specific notes or projects in ProjectPad, simply use the search bar at the top of the dashboard. You can search by keywords, tags, or other relevant criteria.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                How can I collaborate with my team members in ProjectPad?
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">To collaborate with your team members in ProjectPad, you can share your project or notes with them. You can also assign tasks and deadlines, and keep track of their progress.</div>
        </div>
    </div>
</div><br>

{% endblock content %}