{% extends "layout.html" %}

{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img"
        src="{{ url_for('static', filename='images/' + article.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('account')}}">{{ article.author.username }}</a>
            <small class="text-muted">{{ article.date_created.strftime('%d-%m-%Y') }}</small>
            {% if article.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                    href="{{ url_for('update_article', article_id=article.id) }}">Update</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm ms-2 mt-1 mb-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Delete
                </button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ article.title }}</h2>
        <p class="article-content">{{ article.content | safe }}</p>
    </div>
</article>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Article?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you wish to permanently delete this article?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger btn-sm mt-1 mb-1"
                    href="{{ url_for('delete_article', article_id=article.id) }}">Confirm Deletion</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}