{% extends "layout.html" %}

{% block content %}
<!-- loop through articles and display in the page -->
{% for entry in articles %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + entry.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('account')}}">{{ entry.author.username }}</a>
                <small class="text-muted">{{ entry.date_created.strftime('%d-%m-%Y')}}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('article', article_id=entry.id )}}">{{ entry.title }}</a></h2>
            <p class="article-content">{{ entry.content | safe }}</p>
        </div>
    </article>
{% endfor %}
{% endblock content %}