{% extends "layout.html" %}

{% block content %}
    <h1>About Page</h1>
    <br>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, optio sit tempore non sequi vitae. Ipsum nesciunt soluta maiores eligendi debitis sequi iure veritatis saepe aut, ipsam quaerat doloremque accusantium, beatae corporis suscipit consequuntur quisquam exercitationem repellendus quidem. Rerum ducimus a autem dignissimos quisquam illo numquam, natus expedita architecto animi provident, assumenda reiciendis cumque vel et ea dolorum earum quia unde modi. Magni provident quam quisquam eaque optio architecto quibusdam at maxime asperiores obcaecati est recusandae repudiandae quasi quidem, debitis quis velit voluptates magnam facilis sit illum dicta ducimus voluptatibus id? Vitae deleniti modi harum incidunt unde tempore quaerat nulla.</p>
{% endblock content %}