{% extends "layout.html" %}

{% block content %}
<!-- loop through articles and display in the page -->
{% for entry in articles %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ entry.author }}</a>
            <small class="text-muted">{{ entry.date_created}}</small>
        </div>
        <h2><a class="article-title" href="#">{{ entry.title }}</a></h2>
        <p class="article-content">{{ entry.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}